################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Zipcodes_ASPNET_NEW/.vs
/Zipcodes_ASPNET_NEW/bin
/Zipcodes_ASPNET_NEW/obj
/ZipCodeTest/.vs
/ZipCodeTest/bin
/ZipCodeTest/obj
*.db
